@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap');

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #57407c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
  min-height: 100vh;
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

.header {
  font-size: 5em;
  margin-top: -55px;
  margin-bottom: -10px;
  font-family: 'Pacifico';
  text-shadow: 5px 5px #3d2963;
}

.subheader {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}

.text {
  order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold;
}

.board {
  order: 1;
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: #57407c;
  border-radius: 7px;
  outline: none;
  position: relative;
  margin-bottom: 50px;
}

.board .cell,
.tile {
  user-select: none;
  cursor: default;
}

.details-box {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.reset-button {
  background-image: url(./assets/img/refresh.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 7px;
  transition: color 0.3s ease, background-color 0.3s ease;
  height: 27px;
  width: 10px;

  &:hover {
    background-color: #32ada9;
    color: rgba(255, 255, 255, 1);
  }
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.score-header {
  font-size: 50%;
}

.score-box {
  background-color: #3d2963;
  color: rgba(255, 255, 255, 0.5);
  min-width: 50px;
  width: 70px;
  padding: 5px 15px;
  border-radius: 7px;
}

.cell,
.tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #3d2963;
}

.tile {
  background-position: center center;
  background-size: cover;
  filter: saturate(90%);
}

.tile0 {
  background-color: #dcb;
}

.tile2 {
  background-color: #eee;
  background-image: url(./assets/img/numbers/2.gif);
}

.tile4 {
  background-color: #eec;
  background-image: url(./assets/img/numbers/4.gif);
}

.tile8 {
  color: #ffe;
  background-image: url(./assets/img/numbers/8.gif);
}

.tile16 {
  color: #ffe;
  background-image: url(./assets/img/numbers/16.gif);
}

.tile32 {
  color: #ffe;
  background-image: url(./assets/img/numbers/32.gif);
}

.tile64 {
  color: #ffe;
  background-image: url(./assets/img/numbers/64.gif);
}

.tile128 {
  color: #ffe;
  background-image: url(./assets/img/numbers/128.gif);
}

.tile256 {
  color: #ffe;
  background-image: url(./assets/img/numbers/256.gif);
  font-size: 45px;
}

.tile512 {
  color: #ffe;
  background-image: url(./assets/img/numbers/512.gif);
  font-size: 45px;
}

.tile1024 {
  color: #fff;
  background-image: url(./assets/img/numbers/1024.gif);
  font-size: 35px;
}

.tile2048 {
  position: absolute;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0px;
  color: #fff;
  background-image: url(./assets/img/2048.gif);
  font-size: 35px;
}

.try-again {
  z-index: 10;
  height: 100px;
  width: 100px;
  background-image: url(./assets/img/try-again.gif);
}

.tile {
  position: absolute;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
}

.tile.new,
.overlay {
  animation-duration: 0.2s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  border-radius: 7px;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
}

.gameOver {
  background-size: contain;
  background-image: url(./assets/img/game-over.gif);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-align: center;
}

.try-again-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overlay .message {
  color: #666;
}

.devicon-github-original-wordmark {
  font-size: 55px;
}

@media only screen and (max-width: 450px) {
  .header {
    font-size: 4em;
    margin-bottom: -5px;
  }

  .subheader {
    font-size: 14px;
  }

  .details-box {
    margin-top: -20px;
    ;
  }

  .text,
  .board,
  .instructions {
    width: 352px;
  }

  .board {
    margin-bottom: 10px;
    height: 352px;
  }

  .score-box {
    min-width: 30px;
    width: 56px;
  }

  .cell,
  .tile {
    width: 80px;
    height: 80px;
    margin: 4px;
  }

  .try-again {
    width: 80px;
  }

  .tryAgain {
    width: 160px;
  }

  .devicon-github-original-wordmark {
    font-size: 47px;
  }
}