@for $row from 0 through 3 {
  @for $column from 0 through 3 {
    .position_#{$row}_#{$column}:not(.isMoving) {
      top: 110 * $row + 4px;
      left: 110 * $column + 4px;
    }
  }
}

@for $fromRow from 0 through 3 {
  @for $toRow from 0 through 3 {
    $name: row_from_#{$fromRow}_to_#{$toRow};

    @if $fromRow == $toRow {
      .#{$name} {
        top: 110 * $toRow + 4px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.2s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          top: 110 * $fromRow + 4px;
        }
        to {
          top: 110 * $toRow + 4px;
        }
      }
    }
  }
}

@for $fromColumn from 0 through 3 {
  @for $toColumn from 0 through 3 {
    $name: column_from_#{$fromColumn}_to_#{$toColumn};

    @if $fromColumn == $toColumn {
      .#{$name} {
        left: 110 * $toColumn + 4px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.2s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          left: 110 * $fromColumn + 4px;
        }
        to {
          left: 110 * $toColumn + 4px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  @for $row from 0 through 3 {
    @for $column from 0 through 3 {
      .position_#{$row}_#{$column}:not(.isMoving) {
        top: 88 * $row + 4px;
        left: 88 * $column + 4px;
      }
    }
  }
  
  @for $fromRow from 0 through 3 {
    @for $toRow from 0 through 3 {
      $name: row_from_#{$fromRow}_to_#{$toRow};
  
      @if $fromRow == $toRow {
        .#{$name} {
          top: 88 * $toRow + 4px;
        }
      } @else {
        .#{$name} {
          animation-duration: 0.2s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }
  
        @keyframes #{$name} {
          from {
            top: 88 * $fromRow + 4px;
          }
          to {
            top: 88 * $toRow + 4px;
          }
        }
      }
    }
  }
  
  @for $fromColumn from 0 through 3 {
    @for $toColumn from 0 through 3 {
      $name: column_from_#{$fromColumn}_to_#{$toColumn};
  
      @if $fromColumn == $toColumn {
        .#{$name} {
          left: 88 * $toColumn + 4px;
        }
      } @else {
        .#{$name} {
          animation-duration: 0.2s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }
  
        @keyframes #{$name} {
          from {
            left: 88 * $fromColumn + 4px;
          }
          to {
            left: 88 * $toColumn + 4px;
          }
        }
      }
    }
  }
  
}
